.random-error-msg {
    color: rgb(255, 64, 64);
}

.random-textbox {
    width: 50%;
}

.form-control {
    background-color: rgb(12, 12, 12);
    color: white;
}

.input-group-text {
    font-weight: 600;
    width: 55px;
    background-color: rgb(245, 245, 245);
    color: rgb(100, 100, 100);
}

.int-input {
    width: 300px;
    padding: 0px 8px;
}

.no-hover:hover {
    cursor: default;
}