<p class="h3 font-weight-light">lists/strings</p>

<hr class="hr-random mb-4">

<div class="d-flex flex-column align-items-center">

    <button type="button" class="btn btn-dark btn-lg btn-random-half" routerLink="/lists/list-randomizer"
        routerLinkActive="active">list randomizer</button>
    <p>(randomize a list of items)</p>
    <button type="button" class="btn btn-dark btn-lg btn-random-half" routerLink="/lists/string-generator"
        routerLinkActive="active">password generator</button>
    <p>(generate a strong password)</p>


</div>