.random-string {
    height: 120px;
    width: 450px;
    border: 1px solid white;
    background-color: rgb(12, 12, 12);
    padding-top: 12px;
    transition: color 200ms;
}

.random-pw-low {
    color: rgb(255, 64, 64);
}

.random-pw-med {
    color: rgb(255, 187, 0)
}

.random-pw-default {
    color: white;
}

.random-pw-high {
    color: rgb(41, 226, 41);
}