.random-string {
    height: 120px;
    width: 100%;
    background-color: rgb(12, 12, 12);
    padding-top: 12px;
    transition: color 200ms;
}

.random-pw-box {
    padding-top: 30px;
    height: 130px;
}

.random-pw-low {
    color: rgb(255, 64, 64);
}

.random-pw-med {
    color: rgb(255, 187, 0)
}

.random-pw-default {
    color: white;
}

.random-pw-high {
    color: rgb(41, 226, 41);
}

.random-pw-box-low {
    border: 1px solid rgb(255, 64, 64);
}
.random-pw-box-med {
    border: 1px solid rgb(255, 187, 0);
}
.random-pw-box-default {
    border: 1px solid white;
}
.random-pw-box-high {
    border: 1px solid rgb(41, 226, 41);
}