/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* Font Family */
html, body {
    height: 100%;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(240, 240, 240);
    background-color: rgb(17, 17, 17);
}

.text-code {
    font-family: 'Roboto Mono', monospace;
}

.test {
    background-color: indigo;
}

.btn-random-full {
    width: 100%;
}

.btn-random-half {
    width: 50%;
}

.btn-random-third {
    width: 30%;
}

.btn-random-fifth {
    width: 20%;
}

.hr-random {
    border: 1px solid rgb(255, 255, 255);
}

.toggle-random {
    border: 1px solid white;
    border-radius: 10px;
}

.random-unvisited {
    color: rgb(177, 177, 177);
    cursor: pointer;
}
.random-unvisited:hover {
    color: white;
}

.random-unvisited:active {
    color: rgb(177, 177, 177);
}

.random-visited {
    color: white;
    cursor: pointer;
}

.random-visited:active {
    color: rgb(177, 177, 177);
}

.random-output-box {
    min-height: 160px;
    width: 100%;
    border: 1px solid white;
    background-color: rgb(12, 12, 12);
    padding: 12px 12px 0px 12px;
    transition: color 200ms;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}